Arithmetic Operators

In [32]:
#Addition

3 + 5

8

In [4]:
#Subtraction

54 - 46

8

In [5]:
# Multiplication

2 * 3

6

In [7]:
#Division

35 / 7

5.0

In [9]:
"Tes" + 20

TypeError: can only concatenate str (not "int") to str

In [11]:
"Tes"+"20"

'Tes20'

In [13]:
"Tes" * 5

'TesTesTesTesTes'

Comparison Operators

In [14]:
#Greater than

34 > 3

True

In [16]:
#Less than

34 < 3

False

In [17]:
34*34 < 45*23

False

In [20]:
45 == 45

True

Logical Operator

In [22]:
#And operator

0 and 3

0

In [24]:
3 and 0

0

In [26]:
3 and 5

5

In [27]:
#or operator

0 or 3

3

In [28]:
3 or 0

3

In [30]:
3 or 5

3